/*.mainContainer { 
	background: url(../assets/bg.jpg) top right no-repeat;
	background-size: cover;
}*/
.cardholder {
	/*opacity: 0.9;*/
}
md-toolbar {
	background-color: #2F2F4F;	
	color:white;
}
.cardColor{
  background-color: #5F9F9F !important;
  color: white !important;
}
.joined{
  background-color: #4f738e !important;
  color: white !important;
}
.pantheonToolbar {
background-color: #4285f4 !important;
}
.navToolbar {
	background-color: #728fa5;
	color: black;	
}
.menu-item {
	color: black;
	margin-top: 15px;
	font-weight: bold;
}

.joinBtn md-button{
	margin: 5px;
	padding: 0px 10px;
}