<md-dialog>
  <md-content layout="vertical" class="dialog-content">
    <div layout="horizontal" id="groupDialogCaption">
      <h3 flex>Channel Management</h3>
      <img ng-src="material-icons/icons/system_icons/social/res/1x_web/ic_group_18dp.png">
      <span>{{group.members.length}}
    </div>
    <md-text-float name="groupName" id="groupName" label="Channel Name" ng-model="group.name" class="channelDialogInput" size="5"> </md-text-float>
    <md-text-float name="groupPurpose" id="groupPurpose" label="Purpose" ng-model="group.purpose" class="channelDialogInput"></md-text-float>
    <h3>Rulescape</h3>
    <div layout="horizontal" class="rulesLine">
            <md-checkbox ng-init="data.cb4=true" ng-model="data.cb4" aria-label="Checkbox 1"></md-checkbox>
            <p flex>Channel Open.</p>
          </div>
          <div class="optionsLine" ng-repeat="opt in poll.options" layout="horizontal"
          ng-class="{focused: opt.hasFocus}" ng-mouseover="opt.menubar = true" ng-mouseleave="opt.menubar = false" ng-show="newItem">
          <md-checkbox ng-model="opt.isSelected"></md-checkbox>
          <md-input type="text" class="optionsInput" ng-model="opt.text" flex placeholder="New Poll Option (click to edit)"  focus-this="{{$index}}" ng-keypress="keypressListener($event)" ng-focus="opt.hasFocus = true" ng-blur="opt.hasFocus = false" ng-keyup="checkForOptionDelete($event,$index)" ></md-input>
          <md-button ng-show="opt.menubar" ng-click="removeOption($index)" aria-label="Remove Option">
            <img ng-src="material-icons/icons/system_icons/content/res/1x_web/ic_clear_18dp.png"></md-button>
        </div>
        <div class="newOptionWrapper" ng-class="{focused: newOptionFocused}" ng-show="newItem">
          <md-input type="text" id="addOptionInput" ng-model="newOptionText" ng-change="addOption()" placeholder="Add option" ng-focus="newOptionFocused = true" ng-blur="newOptionFocused = false"></md-input>
        </div>
    <div class="rulesLine" ng-repeat="rule in group.rules" layout="horizontal"
          ng-class="{focused: rule.hasFocus}" ng-mouseover="rule.menubar = true" ng-mouseleave="rule.menubar = false">
            <md-checkbox ng-model="rule.isSelected"></md-checkbox>
            <md-input type="text" class="rulesInput" ng-model="rule.text" flex placeholder="New Rule (click to edit)"  id="{{'rule'+$index}}" ng-keypress="keypressListener($event)" ng-focus="rule.hasFocus = true" ng-blur="rule.hasFocus = false" ng-keyup="checkForRuleDelete($event,$index)" ></md-input>
            <md-button ng-show="rule.menubar" ng-click="removeRule($index)" title="Remove Rule"><img ng-src="material-icons/icons/system_icons/content/res/1x_web/ic_clear_18dp.png"></md-button>
          </div>
          <div class="newRuleWrapper" ng-class="{focused: newRuleFocused}">
            <md-input type="text" id="addRuleInput" ng-model="newRuleText" ng-change="newRuleText = addRule(newRuleText)" placeholder="Add Rule" ng-focus="newRuleFocused = true" ng-blur="newRuleFocused = false"></md-input>
          </div>
    <div flex layout="horizontal">
      <section flex="50" class="members" layout="vertical">
        <span block class="sectionTitle">Channel Members</span>
        <md-list flex>
          <md-item 
          ng-repeat="member in group.members | orderBy:'id' | orderBy:'name' track by $index"
          class="membersAnimate"
          layout="horizontal"
          >
            <span flex>{{member.name || member.id }}</span>
            <img 
            src="material-icons/icons/system_icons/navigation/res/1x_web/ic_arrow_forward_24dp.png"
            ng-click="group.removePeer(member)" height="24" width="24"
            >
          </md-item>
        </md-list>
        <!--
        <md-button block class="md-button-raised">Remove</md-button>
        -->
      </section>
      <section flex="50" class="peers" layout="vertical">
        <span block class="sectionTitle">Invite Peers</span>
        <md-list flex>
          <md-item 
          ng-repeat="peer in japi.me.peers | orderBy:'id' | orderBy:'name' | filter:nonMembers track by $index"
          class="peersAnimate"
          layout="horizontal"
          >
            <img 
            src="material-icons/icons/system_icons/navigation/res/1x_web/ic_arrow_back_24dp.png"
            ng-click="group.addPeer(peer)" height="24" width="24"
            >
            <span flex>{{peer.name || peer.id }}</span>
          </md-item>
        </md-list>
        <!--
        <md-button block class="md-button-raised">Add to Group</md-button>
        -->
      </section>
    </div>
  </md-content>
  <div class="md-actions" layout="horizontal" layout-end="end center">
    <md-button ng-click="close()">
      Close
    </md-button>
    <md-button ng-click="save(group)" class="md-primary">
      Save
    </md-button>
  </div>
</md-dialog>


<style>
/* Some of these have !important because they are are overriding 
angular's md style defaults */
.md-dialog-container md-dialog{
  min-width: 400px !important;
  border-radius: 0px !important;
}
.dialog-content{
  /* Force the dialog-content div to not scroll. We only want the actual lists to scroll. */
  overflow: hidden !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  padding-bottom: 0px !important;
}
.dialog-content .sectionTitle{
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  color: white;
  min-height: 40px;
  margin: 0;
  padding: 8px 0 0 0;
}

.members .sectionTitle{
  background-color: rgb(63,81,181); /* #3f51b5 */
}
section.members {
  background-color: rgba(63,81,181, 0.3); /* #3f51b5 */
}

.peers .sectionTitle{
  background-color: rgb(255,87,34); /* #ff5722 */
}
section.peers {
  background-color: rgba(255,87,34, 0.3); /* #ff5722 */
}

.dialog-content section{
  overflow-y: hidden;
  overflow-x: visible;
  margin-top: 0px;
}
.dialog-content section md-list{
  overflow-y: auto;
  overflow-x: visible;
}

.dialog-content md-list md-item {
  overflow-x: hidden;
  min-height: 56px;
  line-height: 24px;
  padding: 0px 8px;
  font-weight: bold;
}

.dialog-content section md-button.md-button-raised {
  min-height: 40px;
  line-height: 24px;
  background-color: white;
  margin: 4px 24px 4px 24px;
}

md-dialog footer {
  min-height: 64px !important;
}
md-dialog footer md-button{
  font-size: 1.6em;
  margin-left: 32px;
}
/* Animations for moving peers around */
/* Left list - Group members */
/* Enter - This triggers when new peers are added to the group. Slide in from right. */
.membersAnimate.ng-enter{
  -webkit-transition: 0.3s ease-out all; /* Chrome */
  transition: 0.3s ease-out all;
  opacity: 0;
  margin-left: 100%;
}
.membersAnimate.ng-enter.ng-enter-active{
  opacity: 1;
  margin-left: 0;
}
.membersAnimate.ng-enter-stagger {
  /* this will have a 50ms delay between each successive enter animation */
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;

  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

/* Leave - This triggers when peers are removed from the group. Slide out to right. */
.membersAnimate.ng-leave{
  -webkit-transition: 0.5s ease-out all; /* Chrome */
  transition: 0.5s ease-out all;
  opacity: 1;
  margin-left: 0;
}
.membersAnimate.ng-leave.ng-leave-active{
  opacity: 0;
  margin-left: 100%;
}
.membersAnimate.ng-leave-stagger {
  /* this will have a 50ms delay between each successive enter animation */
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;

  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

/* Move - This triggers when the index of a member changes. */
.membersAnimate.ng-move{
  -webkit-transition: 1s ease all; /* Chrome */
  transition: 1s ease all;
}
.membersAnimate.ng-move.ng-move-active{
}

/* Right list - Other Peers */
/* Enter - This triggers when new peers are added; or existing peers are removed from the group. Slide in from left. */
.peersAnimate.ng-enter{
  -webkit-transition: 0.3s ease all; /* Chrome */
  transition: 0.3s ease all;
  opacity: 0;
  margin-left: -100%;
}
.peersAnimate.ng-enter.ng-enter-active{
  opacity: 1;
  margin-left: 0;
}
.peersAnimate.ng-enter-stagger {
  /* this will have a 50ms delay between each successive enter animation */
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;

  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

/* Leave - This triggers when existing peers are added to the group. Slide out to left. */
.peersAnimate.ng-leave{
  -webkit-transition: 0.5s ease-out all; /* Chrome */
  transition: 0.5s ease-out all;
  opacity: 1;
  margin-right: 0;
}
.peersAnimate.ng-leave.ng-leave-active{
  opacity: 0;
  margin-right: 100%;
}
.peersAnimate.ng-leave-stagger {
  /* this will have a 50ms delay between each successive enter animation */
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;

  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
/* Leave - This triggers when existing peers are added to the group. Slide out to left. */
.peersAnimate.ng-move{
  -webkit-transition: 1s ease all; /* Chrome */
  transition: 1s ease all;
}
.peersAnimate.ng-move.ng-move-active{
}
#groupDialogCaption h3{
  margin: 0;
  padding: 0;
}
#groupDialogCaption img{
  width: 18px;
  height: 18px;
  margin-top: 2px; // align with 24px line height
}
#groupDialogCaption span{
  margin-left: 8px;
}
</style>