<!DOCTYPE html>
<html tabindex="-1" ng-app="app">
  <head>  
    <title>Channels</title>
    <script src="bower_components/japi/mocks/mockJapi.js" type="text/javascript"></script>
    <script src="bower_components/japi/js/japi.js" type="text/javascript"></script>

    <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="bower_components/jquery-bridget/jquery.bridget.js"></script>
    <script src="bower_components/get-style-property/get-style-property.js"></script>
    <script src="bower_components/get-size/get-size.js"></script>
    <script src="bower_components/eventEmitter/EventEmitter.js"></script>
    <script src="bower_components/eventie/eventie.js"></script>
    <script src="bower_components/doc-ready/doc-ready.js"></script>
    <script src="bower_components/matches-selector/matches-selector.js"></script>
    <script src="bower_components/outlayer/item.js"></script>
    <script src="bower_components/outlayer/outlayer.js"></script>
    <script src="bower_components/masonry/masonry.js"></script>
    <script src="bower_components/imagesloaded/imagesloaded.js"></script>
    <script src="bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="bower_components/angular-masonry/angular-masonry.js" type="text/javascript"></script>
    <script src="bower_components/angular-aria/angular-aria.js" type="text/javascript"></script>
    <script src="bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
    <script src="bower_components/hammerjs/hammer.js" type="text/javascript"></script> 
    <script src="bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
    <script src="bower_components/angular-material/angular-material.js" type="text/javascript"></script>
    <!-- 
    <script src="bower_components/md-titlebar/titlebar.js" type="text/javascript"></script>
    -->

    <!-- Keep app.js at the end -->
    <script src="js/app.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">

    <link rel="stylesheet" type="text/css" href="bower_components/roboto/2014/roboto-woff.css">
    <link rel="stylesheet" type="text/css" href="bower_components/sopro-material/css/sopro-material.css">
    <link rel="stylesheet" type="text/css" href="css/docs.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="css/pantheonGroupManager.css">
  </head>
  <body unresolved tabindex="-1" ng-controller="appCtrl">
    <div id="applicationContainer" layout="horizontal" layout-fill>

      <md-sidenav class="md-sidenav-left md-whiteframe-z2" component-id="left" layout="vertical">
        <md-toolbar class="sidenavToolbar">
              <div class="md-toolbar-tools sidenavToolbar" ng-click="toggleMenu()">
                <div style="height:48px;margin:0px;">
                  <div id="menu-drawer-button" class="menu-icon"> 
                    <img class="toggleImage" src="material-icons/icons/system_icons/navigation/res/1x_web/ic_menu_24dp.png">
                  </div>
                  <div class="toolbarTitle">Society Pro</div>
                </div>  
              </div>        
            </md-toolbar>
          <span flex></span>
          <div layout="vertical" layout-align="end center" style="margin:20px;"> 
            
            v0.1.0
            
          </div>
      </md-sidenav>

      <div layout="vertical" layout-fill class="mainContainer">
        <md-toolbar class="pantheonToolbar" ng-class="{noShadow:isTmpl}">
      <div layout="horizontal">
        <div class="md-toolbar-tools" ng-click="toggleMenu()">
          <div style="height:48px;margin:0px;">
            <div id="menu-drawer-button" class="menu-icon"> 
              <img class="toggleImage" src="material-icons/icons/system_icons/navigation/res/1x_web/ic_menu_wht_24dp.png">
            </div>
            <div class="toolbarTitle">Channels</div>
          </div>  
        </div>
        <span flex></span>
        <div id="viewButtons" layout="horizontal">
          <!--<div id='cssmenu' ng-if="checkView()">
            <ul>
              <li class='active has-sub last' id="filterButton">
                <material-button class="viewButton clicker material-button-icon" title="Filter Polls">
                  <material-icon icon="material-icons/icons/system_icons/content/res/1x_web/ic_filter_wht_24dp.png"></material-icon>
                </material-button>
                </a>
                <ul>
                  <li ng-repeat="filter in menu.filters" ng-class="{last:$last}"> <a id="filterButton" class="menu-item menu-sub-item" ng-class="{active: menu.isFilterSelected(filter)}" ng-click="selectFilter(filter); $event.stopImmediatePropogation()"> <span class="color-chip" style='background-color: {{filter.color}};'></span> <span class="color-tag" ng-bind="filter.filter"></span>
                    <div class="clearBoth"></div>
                    <material-ripple initial-opactiy="0.4" opacity-decay-velocity="1.75"></material-ripple>
                    </a> </li>
                </ul>
              </li>
            </ul>
          </div>-->
          <md-button id="streamButton" class="viewButton" ng-click="streamView()" ng-class="{active: listView === 'stream', inactive: listView === 'quilt'}" aria-label="Show as Stream">
            <md-icon style="width: 24px; height: 24px;" icon="material-icons/icons/system_icons/action/res/1x_web/ic_view_stream_wht_24dp.png"></md-icon>
          </md-button>
          <md-button id="quiltButton" class="viewButton" ng-click="quiltView()" ng-class="{active: listView === 'quilt', inactive: listView === 'stream'}" aria-label="Show as Quilt">
            <md-icon style="width: 24px; height: 24px;" icon="material-icons/icons/system_icons/action/res/1x_web/ic_view_quilt_wht_24dp.png"></md-icon>
          </md-button>
        </div>
      </div>
    </md-toolbar>
        <md-content layout="vertical" flex>
          <div class="container">
            <md-card id="quickAddBox" class="quickAddBox" ng-show="listView == 'quilt'">
              <form name="quickAddForm" class="quickAddForm">
                <!--<md-input-group>
                  <md-input ng-class="{bold:newItem}" name="quickAddTitle" placeholder="{{addTitlePlaceholder}}" id="quickAddTitle" type="text" size="45" ng-model="newTitle" flex ng-click="newItem = true">
                </md-input-group>
                <md-input-group>  
                  <md-input  name="quickAddDescription" placeholder="{{addDescriptionPlaceholder}}" id="quickAddDescription" type="text" size="45" ng-model="newDescription" flex ng-show="newItem" click-anywhere-but-here="close()" is-active="isDropdownOpen()">
                </md-input-group>-->
                <md-input-group>
                  <md-input class="bold"
                      ng-class="{hideQuickAddBox:!inputClick}"
                      name="quickAddTitle" 
                      id="quickAddTitle" 
                      type="text" 
                      size="45" 
                      ng-model="newGroupTitle"
                      placeholder="Add a Channel..."
                      flex ng-click="inputClick = true"></md-input>
                </md-input-group>
                 

                <md-input-group class="quickAddPurpose" ng-show="inputClick">
                  <textarea 
                      name="quickAddPurpose" 
                      id="quickAddPurpose" 
                      type="text" 
                      ng-model="newGroupPurpose"
                      placeholder="Purpose"
                      flex ng-show="inputClick"></textarea>
                </md-input-group>
              </form>

                <div id="quickAddAdditional" ng-show="inputClick" layout="horizontal" layout-align="end">
                  <md-button id="quickAddButton" class="quickButton md-primary" ng-show="newGroupTitle" ng-click="newGroup()">
                    SAVE
                  </md-button>
                </div>
              <div class="clearBoth"></div>
            </md-card>
          <!-- Quick Add Box original 
          <sopro-titlebar>
              <div id="quickAddAdditional" ng-show="quickAddForm.$dirty">
              <select ng-model="newGroupType" ng-options="groupType for groupType in groupTypes"></select>
              <md-button id="quickAddButton" class="md-button-colored" ng-show="quickAddForm.$dirty" ng-click="newGroup()">
                SAVE
              </md-button>
            </div>
          </sopro-titlebar>
          end Quick Add Box -->

          <!-- 
          <md-content 
          ng-class="{'groupListsContainer':true, 'quiltView':listView === 'quilt', 'streamView':listView === 'stream'}" 
          scroll-y flex>
          -->
          <div id="contentArea" flex>
            <div id= "myGroupsContainer" masonry="{ transitionDuration: 0 }" reload-on-show load-images="false" ng-show="reloadMasonry" ng-if="listView == 'quilt'">
              <!-- md-card for groups -->  
              <div class="cardholder masonry-brick" 
              ng-repeat="group in myGroups track by $index"
              ng-mouseleave="group.overflow = false;"
              ng-class="{quilt:listView == 'quilt', stream:listView == 'stream'}"
              >
                <md-card 
                class="groupCard cardColor" 
                layout="vertical"
                ng-click="dialog($event, group)">
                  <div flex layout="vertical">
                    <h3>{{group.channelName}}</h3>
                    <div class="lightDetails" layout="horizontal">
                      <span flex class='groupType'> {{group.type}} </span>
                      <img ng-src="material-icons/icons/system_icons/social/res/1x_web/ic_group_wht_18dp.png"> 
                      <span class="groupMemberLength"> {{group.members.length}} </span>
                    </div>
                    <p>{{group.purpose}}</p>
                  </div>

                  
                <div class="cardMenuBar" 
                  layout="horizontal" 
                  layout-align="end center">
                    <md-button 
                    class="overflowMenuButton md-button-icon" 
                    ng-click="overflowToggle(group); $event.stopPropagation()"
                    layout="horizontal"
                    layout-align="center center" 
                    >
                      <img 
                      class="overflowMenuIcon"
                      ng-src="material-icons/icons/system_icons/action/res/1x_web/ic_drawer_wht_24dp.png">
                    </md-button>
                  </div>
                  <md-card class="overflowMenu animate-show" ng-show="group.overflow">
                    <a block class="overflowDuplicate"
                    ng-click="duplicateGroup(group,$event)">Duplicate Channel</a>
                    <a block class="overflowDelete"
                    ng-click="deleteGroup(group)">Delete Channel</a>
                  </md-card>

                </md-card>
              </div>
              <div class="cardholder masonry-brick" 
              ng-repeat="channel in allChannels track by $index"
              ng-mouseleave="group.overflow = false;"
              ng-class="{quilt:listView == 'quilt', stream:listView == 'stream'}"
              >
                <md-card 
                class="groupCard joined" 
                layout="vertical">
                  <div flex layout="vertical">
                    <h3>{{channel}}</h3>
                    <div class="lightDetails" layout="horizontal">
                      <span flex class='groupType'> Channel </span>
                      <img ng-src="material-icons/icons/system_icons/social/res/1x_web/ic_group_wht_18dp.png"> 
                      <span class="groupMemberLength"> 0 </span>
                    </div>
                    <p></p>
                  </div>
                  <div layout="horizontal" class="joinBtn">
                    <span flex></span>
                    <md-button class="md-raised md-primary" ng-click="joinChannel(channel)">Join</md-button>
                  </div>
                <div class="cardMenuBar" 
                  layout="horizontal" 
                  layout-align="end center">
                    <!--<md-button 
                    class="overflowMenuButton md-button-icon" 
                    ng-click="overflowToggle(group); $event.stopPropagation()"
                    layout="horizontal"
                    layout-align="center center" 
                    >
                      <img 
                      class="overflowMenuIcon"
                      ng-src="material-icons/icons/system_icons/action/res/1x_web/ic_drawer_wht_18dp.png">
                    </md-button>-->
                  </div>

                </md-card>
                <!--<md-card class="overflowMenu animate-show" ng-show="group.overflow">
                  <a block class="overflowDuplicate"
                  ng-click="duplicateGroup(group)">Duplicate Channel</a>
                  <a block class="overflowDelete"
                  ng-click="deleteGroup(group)">Delete Channel</a>
                </md-card>-->
              </div>
            </div>
            <div class="streamTitles" ng-show="listView == 'stream' && myGroups.length != 0">
              <div layout="horizontal" flex="100">
                <div flex="30" style="margin-left:16px;">Name</div>
                <div flex="45" style="margin-left:16px;">Purpose</div>
                <div flex="10" style="margin-left:16px;">Members</div>
              </div>
            </div>
            <div class="streamCardholder" ng-repeat="group in myGroups track by $index" ng-mouseleave="group.menubar = false;" ng-if="listView == 'stream'">
              <md-card class="streamMainCard cardColor" ng-class="{firstCard: $first}" layout="horizontal">
                <div class="streamCardContentContainer" layout="horizontal" layout-align="start center">
                  <div class="streamPollLine" flex="30" ng-click="dialog($event, group)">
                    <b>{{group.channelName}}</b>
                  </div>
                  <div class="streamPollLine gray" flex="45" ng-click="dialog($event, group)">
                    <em>{{group.purpose}}</em>
                  </div>
                  <div class="streamPollLine gray" flex="10" ng-click="dialog($event, group)">
                    <img ng-src="material-icons/icons/system_icons/social/res/1x_web/ic_group_wht_18dp.png">
                      <span class="groupMemberLength"> {{group.members.length}} </span>
                  </div>
                  <div class="streamCardMenuBar" flex="15" layout="horizontal" layout-align="end center">
                    <md-button class="md-button-icon overflowMenuButton streamOverflowMenuButton" ng-click="group.menubar = !group.menubar" layout="vertical" layout-align="end end" title="Overflow Menu">
                      <img class="overflowMenuIcon" ng-src="material-icons/icons/system_icons/action/res/1x_web/ic_drawer_wht_24dp.png">
                    </md-button>
                  </div>
                </div>
              </md-card>
              <md-card id="overflowMenu-{{$index}}" class="overflowMenu animate-show" ng-show="group.menubar"> 
                    <a class="destroyAction" title="Duplicate Channel" ng-click="duplicateGroup(group,$event)">Duplicate Channel</a>
                    <a class="destroyAction" ng-really-message="Are you sure you want to delete this channel?" title="Delete Peer" ng-really-click="deleteGroup(group)">Delete Channel</a>
                    <!--<a title="Role Settings">Role Settings</a>-->
                  </md-card>
            </div>
            <div class="streamCardholder" ng-repeat="group in allChannels track by $index" ng-if="listView == 'stream'">
              <md-card class="streamMainCard joined" layout="horizontal">
                <div class="streamCardContentContainer" layout="horizontal" layout-align="start center">
                  <div class="streamPollLine" flex="30">
                    <b>{{group}}</b>
                  </div>
                  <div class="streamPollLine gray" flex="45">
                    <em></em>
                  </div>
                  <div class="streamPollLine gray" flex="10">
                  </div>
                </div>
              </md-card>
            </div>
          </div>
        </div>
        <md-button class="md-fab md-button-fab-bottom-right md-primary quickFabButton"  aria-label="New Peer" ng-click="newGroupFromScratch()" >
        
            <md-icon icon="material-icons/icons/system_icons/content/res/1x_web/ic_add_24dp.png" style="width: 24px; height: 24px;"></md-icon>
            <md-tooltip>
              New Channel
            </md-tooltip>
        </md-button>
        </md-content>
      </div>

    </div>
    <script>
      
    </script>
  </body>
</html>
              <!-- end md-card for groups -->

              <!-- Quilt View 
              <div ng-show="listView === 'quilt'">
              </div>
              -->



              <!-- Stream View 
              <md-list ng-show="listView === 'stream'">
                <md-item ng-repeat="group in myGroups" ng-click="toggleGroup(group)">
                  <div class="md-tile-left">
                    <img ng-src="material-icons/icons/system_icons/social/res/2x_web/ic_group_48dp.png" class="face">
                  </div>
                  <div class="md-tile-content">
                    <h2>{{group.name}}</h2>
                    {{group.type}}
                    <md-list>
                      <div  ng-show="group.isActive === true" class="animate-show">
                        
                        <md-item ng-repeat="member in group.members">
                          <div class="md-tile-left">
                            <img ng-src="material-icons/icons/system_icons/social/res/2x_web/ic_person_48dp.png" class="face">
                          </div>
                          <div class="md-tile-content">
                            <h2>{{member.name || member.id}}</h2>
                          </div>
                        </md-item>
                      
                      </div>
                    </md-list>
                  </div>
                  
                </md-item>
              </md-list>
              -->
